In [1]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('SparkUDF').getOrCreate()
spark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
transactions=[
    (4, 'Apples', 1.03),
    (3, 'Apples', 2.68),
    (4, 'Oranges', 4.72),
    (1, 'Apples', 1.94),
    (3, 'Bread', 3.07),
    (1, 'Apples', 0.75),
    (4, 'Bananas', 4.71),
    (2, 'Bread', 2.86),
    (3, 'Bread', 2.61),
    (3, 'Apples', 0.64),
    (1, 'Oranges', 1.60),
    (1, 'Bread', 1.50)
]

schema=['store_id', 'product', 'price']
df1=spark.createDataFrame(data=transactions, schema=schema)
df1.show()

+--------+-------+-----+
|store_id|product|price|
+--------+-------+-----+
|       4| Apples| 1.03|
|       3| Apples| 2.68|
|       4|Oranges| 4.72|
|       1| Apples| 1.94|
|       3|  Bread| 3.07|
|       1| Apples| 0.75|
|       4|Bananas| 4.71|
|       2|  Bread| 2.86|
|       3|  Bread| 2.61|
|       3| Apples| 0.64|
|       1|Oranges|  1.6|
|       1|  Bread|  1.5|
+--------+-------+-----+

    To Rename a column Name

In [3]:
from pyspark.sql.functions import *
def colChange(dataframe):
    for col in dataframe.columns:
        colnew='Col_UDF_'+col
        dataframe=dataframe.withColumnRenamed(col, colnew)
    return dataframe

In [4]:
df_col=colChange(df1)
df_col.show()

+----------------+---------------+-------------+
|Col_UDF_store_id|Col_UDF_product|Col_UDF_price|
+----------------+---------------+-------------+
|               4|         Apples|         1.03|
|               3|         Apples|         2.68|
|               4|        Oranges|         4.72|
|               1|         Apples|         1.94|
|               3|          Bread|         3.07|
|               1|         Apples|         0.75|
|               4|        Bananas|         4.71|
|               2|          Bread|         2.86|
|               3|          Bread|         2.61|
|               3|         Apples|         0.64|
|               1|        Oranges|          1.6|
|               1|          Bread|          1.5|
+----------------+---------------+-------------+

    Dynamically change all the values to Upper case, when given a column name

In [5]:
def upper_col(df,column_name):
    col_name='Col_upper'+column_name
    df=df.withColumn(col_name, upper(df[column_name]))
    return df

In [6]:
df_up=upper_col(df1,'product')
df_up.show()

+--------+-------+-----+----------------+
|store_id|product|price|Col_upperproduct|
+--------+-------+-----+----------------+
|       4| Apples| 1.03|          APPLES|
|       3| Apples| 2.68|          APPLES|
|       4|Oranges| 4.72|         ORANGES|
|       1| Apples| 1.94|          APPLES|
|       3|  Bread| 3.07|           BREAD|
|       1| Apples| 0.75|          APPLES|
|       4|Bananas| 4.71|         BANANAS|
|       2|  Bread| 2.86|           BREAD|
|       3|  Bread| 2.61|           BREAD|
|       3| Apples| 0.64|          APPLES|
|       1|Oranges|  1.6|         ORANGES|
|       1|  Bread|  1.5|           BREAD|
+--------+-------+-----+----------------+

**END OF CODE**