In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkCaseWhen').getOrCreate()

        Creating Dataframe to perform when and Case when opertaions

In [13]:
student=[('Raja','Science',90,'P',80),
         ('Ram','Maths',80,'P',75),
         ('Govardha','Science',76,'P',65),
         ('Vikram','Social',45,'F',54),
         ('Venkat','Science',34,'F',24),
         ('Bhusna','Maths',None,'NA',86)]
schema=['Name','Subject','Marks','Status','Percentage']
df=spark.createDataFrame(data=student,schema=schema)
df.show()

+--------+-------+-----+------+----------+
|    Name|Subject|Marks|Status|Percentage|
+--------+-------+-----+------+----------+
|    Raja|Science|   90|     P|        80|
|     Ram|  Maths|   80|     P|        75|
|Govardha|Science|   76|     P|        65|
|  Vikram| Social|   45|     F|        54|
|  Venkat|Science|   34|     F|        24|
|  Bhusna|  Maths| NULL|    NA|        86|
+--------+-------+-----+------+----------+

In [4]:
from pyspark.sql.functions import *

    Syntax 1

In [14]:
df2=df.withColumn('Result', when(col('Status')=='P','Pass').when(col('status')=='F','Fail').otherwise('Absentee'))
df2.show()

+--------+-------+-----+------+----------+--------+
|    Name|Subject|Marks|Status|Percentage|  Result|
+--------+-------+-----+------+----------+--------+
|    Raja|Science|   90|     P|        80|    Pass|
|     Ram|  Maths|   80|     P|        75|    Pass|
|Govardha|Science|   76|     P|        65|    Pass|
|  Vikram| Social|   45|     F|        54|    Fail|
|  Venkat|Science|   34|     F|        24|    Fail|
|  Bhusna|  Maths| NULL|    NA|        86|Absentee|
+--------+-------+-----+------+----------+--------+

    Syntax 2

In [16]:
df3=df.withColumn('Remarks', expr("case when Marks>=50 then 'good'"+"When marks<50 then 'bad'"+"Else 'absent' end"))
df3.show()

+--------+-------+-----+------+----------+-------+
|    Name|Subject|Marks|Status|Percentage|Remarks|
+--------+-------+-----+------+----------+-------+
|    Raja|Science|   90|     P|        80|   good|
|     Ram|  Maths|   80|     P|        75|   good|
|Govardha|Science|   76|     P|        65|   good|
|  Vikram| Social|   45|     F|        54|    bad|
|  Venkat|Science|   34|     F|        24|    bad|
|  Bhusna|  Maths| NULL|    NA|        86| absent|
+--------+-------+-----+------+----------+-------+

    Using multiple confitions in case statements

In [23]:
df4=df2.withColumn('Remarks',when((df.Marks>=80) &( df.Percentage>=75),'Clever Student')\
                   .when((df.Marks<80) & (df.Marks>=50) & (df.Percentage>=60),'Average Studnet').otherwise('Poor Student'))
df4.show()

+--------+-------+-----+------+----------+--------+---------------+
|    Name|Subject|Marks|Status|Percentage|  Result|        Remarks|
+--------+-------+-----+------+----------+--------+---------------+
|    Raja|Science|   90|     P|        80|    Pass| Clever Student|
|     Ram|  Maths|   80|     P|        75|    Pass| Clever Student|
|Govardha|Science|   76|     P|        65|    Pass|Average Studnet|
|  Vikram| Social|   45|     F|        54|    Fail|   Poor Student|
|  Venkat|Science|   34|     F|        24|    Fail|   Poor Student|
|  Bhusna|  Maths| NULL|    NA|        86|Absentee|   Poor Student|
+--------+-------+-----+------+----------+--------+---------------+

**End Of Code**