<a href="https://colab.research.google.com/github/sandeepgundeboina/LearningSpark/blob/main/SparkGrLeMxMn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkGrLeMxMn').getOrCreate()

In [2]:
spark

In [3]:
student_data = [
    ("Rahul Sharma", 85, 92, 78, 88, 95),
    ("Priya Patel", 91, 87, 94, 89, 90),
    ("Amit Singh", 76, 81, 68, 72, 79),
    ("Anjali Gupta", 95, 98, 96, 97, 94),
    ("Vikram Kumar", 82, 85, 80, 75, 88)
]
schema=['name','sub1','sub2','sub3','sub4','sub5']
df = spark.createDataFrame(data=student_data, schema=schema)
df.printSchema()
df.show()

root
 |-- name: string (nullable = true)
 |-- sub1: long (nullable = true)
 |-- sub2: long (nullable = true)
 |-- sub3: long (nullable = true)
 |-- sub4: long (nullable = true)
 |-- sub5: long (nullable = true)

+------------+----+----+----+----+----+
|        name|sub1|sub2|sub3|sub4|sub5|
+------------+----+----+----+----+----+
|Rahul Sharma|  85|  92|  78|  88|  95|
| Priya Patel|  91|  87|  94|  89|  90|
|  Amit Singh|  76|  81|  68|  72|  79|
|Anjali Gupta|  95|  98|  96|  97|  94|
|Vikram Kumar|  82|  85|  80|  75|  88|
+------------+----+----+----+----+----+

In [4]:
from pyspark.sql.functions import *

Greatest and Least are pyspark functions where these are applied on row level, it will return the greatest and least values among on row level

In [5]:
greatDf=df.withColumn('great',greatest('sub1','sub2','sub3','sub4','sub5'))
greatDf.show()

+------------+----+----+----+----+----+-----+
|        name|sub1|sub2|sub3|sub4|sub5|great|
+------------+----+----+----+----+----+-----+
|Rahul Sharma|  85|  92|  78|  88|  95|   95|
| Priya Patel|  91|  87|  94|  89|  90|   94|
|  Amit Singh|  76|  81|  68|  72|  79|   81|
|Anjali Gupta|  95|  98|  96|  97|  94|   98|
|Vikram Kumar|  82|  85|  80|  75|  88|   88|
+------------+----+----+----+----+----+-----+

In [6]:
leastDf=df.withColumn('least',least('sub1','sub2','sub3','sub4','sub5'))
leastDf.show()

+------------+----+----+----+----+----+-----+
|        name|sub1|sub2|sub3|sub4|sub5|least|
+------------+----+----+----+----+----+-----+
|Rahul Sharma|  85|  92|  78|  88|  95|   78|
| Priya Patel|  91|  87|  94|  89|  90|   87|
|  Amit Singh|  76|  81|  68|  72|  79|   68|
|Anjali Gupta|  95|  98|  96|  97|  94|   94|
|Vikram Kumar|  82|  85|  80|  75|  88|   75|
+------------+----+----+----+----+----+-----+

In [7]:
avgMarksDf = df.withColumn('avg', (col('sub1') + col('sub2') + col('sub3') + col('sub4') + col('sub5')) / 5)
avgMarksDf.show()

+------------+----+----+----+----+----+----+
|        name|sub1|sub2|sub3|sub4|sub5| avg|
+------------+----+----+----+----+----+----+
|Rahul Sharma|  85|  92|  78|  88|  95|87.6|
| Priya Patel|  91|  87|  94|  89|  90|90.2|
|  Amit Singh|  76|  81|  68|  72|  79|75.2|
|Anjali Gupta|  95|  98|  96|  97|  94|96.0|
|Vikram Kumar|  82|  85|  80|  75|  88|82.0|
+------------+----+----+----+----+----+----+

Where as Max and Min are column level, it return maximum value and minimum value within the column.

In [8]:
df.agg({'sub1':'max','sub2':'max','sub3':'max','sub4':'max','sub5':'max'}).show()

+---------+---------+---------+---------+---------+
|max(sub1)|max(sub4)|max(sub5)|max(sub3)|max(sub2)|
+---------+---------+---------+---------+---------+
|       95|       97|       95|       96|       98|
+---------+---------+---------+---------+---------+

In [9]:
df.agg({'sub1':'min','sub2':'min','sub3':'min','sub4':'min','sub5':'min'}).show()

+---------+---------+---------+---------+---------+
|min(sub1)|min(sub4)|min(sub5)|min(sub3)|min(sub2)|
+---------+---------+---------+---------+---------+
|       76|       72|       79|       68|       81|
+---------+---------+---------+---------+---------+

In [10]:
df.agg({'sub1':'max','sub2':'min','sub3':'max','sub4':'max','sub5':'max'}).show()

+---------+---------+---------+---------+---------+
|max(sub1)|max(sub4)|max(sub5)|max(sub3)|min(sub2)|
+---------+---------+---------+---------+---------+
|       95|       97|       95|       96|       81|
+---------+---------+---------+---------+---------+

**END OF CODE**