<a href="https://colab.research.google.com/github/sandeepgundeboina/LearningSpark/blob/main/SparkSplit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkSplit').getOrCreate()
spark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df=spark.read.csv('/content/drive/MyDrive/Abc/preppin_w7/Account Holders.csv',header=True,inferSchema=True)
df.show(5)

+-----------------+-----------------+-------------+--------------+---------------------+
|Account Holder ID|             Name|Date of Birth|Contact Number|First Line of Address|
+-----------------+-----------------+-------------+--------------+---------------------+
|         70390615|   Mahmoud Hehnke|   28/08/1995|    7479286250| 18535 Loftsgordon...|
|         20123998|Maynord Surgeoner|   21/08/1997|    7716107305| 6422 Buena Vista ...|
|         54374080|  Giraldo Kimbley|   22/03/1995|    7489940612| 93005 Summer Ridg...|
|         97027297|     Blake Dudson|   30/06/1955|    7253587445|        2 Huxley Hill|
|         89920386|       Ajay Douce|   19/12/1930|    7395580534|   90176 Miller Alley|
+-----------------+-----------------+-------------+--------------+---------------------+
only showing top 5 rows

    Method 1

In [ ]:
df1=df.withColumn('FisrtName',split(col('Name'),' ').getItem(0))\
     .withColumn('LastName',split(col('Name'),' ').getItem(1))
df1.show(5)

+-----------------+-----------------+-------------+--------------+---------------------+---------+---------+
|Account Holder ID|             Name|Date of Birth|Contact Number|First Line of Address|FisrtName| LastName|
+-----------------+-----------------+-------------+--------------+---------------------+---------+---------+
|         70390615|   Mahmoud Hehnke|   28/08/1995|    7479286250| 18535 Loftsgordon...|  Mahmoud|   Hehnke|
|         20123998|Maynord Surgeoner|   21/08/1997|    7716107305| 6422 Buena Vista ...|  Maynord|Surgeoner|
|         54374080|  Giraldo Kimbley|   22/03/1995|    7489940612| 93005 Summer Ridg...|  Giraldo|  Kimbley|
|         97027297|     Blake Dudson|   30/06/1955|    7253587445|        2 Huxley Hill|    Blake|   Dudson|
|         89920386|       Ajay Douce|   19/12/1930|    7395580534|   90176 Miller Alley|     Ajay|    Douce|
+-----------------+-----------------+-------------+--------------+---------------------+---------+---------+
only showing top 5 rows

    Method 2

In [ ]:
split_col=split(col('Name'),' ')
df2=df.withColumn('FisrtName',split_col.getItem(0))\
     .withColumn('LastName',split_col.getItem(1))
df2.show(5)

+-----------------+-----------------+-------------+--------------+---------------------+---------+---------+
|Account Holder ID|             Name|Date of Birth|Contact Number|First Line of Address|FisrtName| LastName|
+-----------------+-----------------+-------------+--------------+---------------------+---------+---------+
|         70390615|   Mahmoud Hehnke|   28/08/1995|    7479286250| 18535 Loftsgordon...|  Mahmoud|   Hehnke|
|         20123998|Maynord Surgeoner|   21/08/1997|    7716107305| 6422 Buena Vista ...|  Maynord|Surgeoner|
|         54374080|  Giraldo Kimbley|   22/03/1995|    7489940612| 93005 Summer Ridg...|  Giraldo|  Kimbley|
|         97027297|     Blake Dudson|   30/06/1955|    7253587445|        2 Huxley Hill|    Blake|   Dudson|
|         89920386|       Ajay Douce|   19/12/1930|    7395580534|   90176 Miller Alley|     Ajay|    Douce|
+-----------------+-----------------+-------------+--------------+---------------------+---------+---------+
only showing top 5 rows