<a href="https://colab.research.google.com/github/sandeepgundeboina/LearningSpark/blob/main/SparkUnionAll.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkUnionAll').getOrCreate()

In [3]:
data=[(300,'Ram'),
      (400,'Raju'),
      (20,'Sevanand')]
Schema=['Id','Name']
df=spark.createDataFrame(data,Schema)
df.show()

+---+--------+
| Id|    Name|
+---+--------+
|300|     Ram|
|400|    Raju|
| 20|Sevanand|
+---+--------+

In [4]:
data1=[(300,'Ram'),
      (40,'Ravi'),
      (201,'Nandha')]
Schema=['Id','Name']
df1=spark.createDataFrame(data1,Schema)
df1.show()

+---+------+
| Id|  Name|
+---+------+
|300|   Ram|
| 40|  Ravi|
|201|Nandha|
+---+------+

    Syntax: Union

In [5]:
df_union=df.union(df1)
df_union.show()

+---+--------+
| Id|    Name|
+---+--------+
|300|     Ram|
|400|    Raju|
| 20|Sevanand|
|300|     Ram|
| 40|    Ravi|
|201|  Nandha|
+---+--------+

    Synatx: Union All

In [6]:
df_unionAll=df.unionAll(df1)
df_unionAll.show()

+---+--------+
| Id|    Name|
+---+--------+
|300|     Ram|
|400|    Raju|
| 20|Sevanand|
|300|     Ram|
| 40|    Ravi|
|201|  Nandha|
+---+--------+



*   As we are using spark version greater than 2.2 version there is no difference between Union and Union all
*   In order to remove duplicates we have to use dropDuplicates()

In [7]:
df_unionAll1=df.unionAll(df1).dropDuplicates()
df_unionAll1.show()

+---+--------+
| Id|    Name|
+---+--------+
|300|     Ram|
|400|    Raju|
| 20|Sevanand|
|201|  Nandha|
| 40|    Ravi|
+---+--------+


*   Schema of 2 dataframes should be same in order to perform Union

In [8]:
data3=[(300,'Ram','40k'),
      (400,'Raju','20K'),
      (20,'Sevanand','5K')]
Schema=['Id','Name','Salary']
df4=spark.createDataFrame(data3,Schema)
df4.show()

+---+--------+------+
| Id|    Name|Salary|
+---+--------+------+
|300|     Ram|   40k|
|400|    Raju|   20K|
| 20|Sevanand|    5K|
+---+--------+------+

    Mismatch error

In [9]:
df_mismatch=df1.union(df4)
df_mismatch.show()

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 2 columns and the second input has 3 columns.;
'Union false, false
:- LogicalRDD [Id#13L, Name#14], false
+- LogicalRDD [Id#63L, Name#64, Salary#65], false

###**END OF CODE**